{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4 d-flex flex-column gap-4">
        {% for post in posts %}
            <div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            <h3 class="card-title">{{ post.user.email }}</h3>
                            <div>{{ post.createdAt|date('d.m.Y H:i:s') }}</div>
                        </div>
                        {% if is_granted(constant("App\\Entity\\User::ROLE_ADMIN")) %}
                            <a href="{{ path("post_edit", {post:post.id}) }}" class="btn btn-secondary">изменить статью</a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3>Комментарии </h3>
                            <a href="{{ path("comment_create", {post:post.id}) }}" class="btn btn-success">добавить коментарий</a>
                        </div>
                        {% for comment in post.comments %}
                            {% if comment.approved and comment.deletedAt is null %}
                            <div class="media mt-3">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ comment.user? comment.user.email : comment.email }}</h5>
                                    <div>{{ comment.createdAt|date('d.m.Y H:i:s') }}</div>
                                    <p>{{ comment.content }}</p>
                                    {% if is_granted(constant("App\\Entity\\User::ROLE_ADMIN")) %}
                                        <a href="{{ path("comment_delete", {comment:comment.id}) }}" class="btn btn-danger">удалить комментарий</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}