<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Блог{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
</head>
<body>

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path("homepage")}}">
                <img alt="logo" style="max-width:30px; max-height:30px " src="{{ asset("images/logo.jpg") }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted(constant("App\\Entity\\User::ROLE_ADMIN")) %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("post_create")}}">добавить статью</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}{% endblock %}

</body>
</html>
